<header class='top-page-header'>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
  <%= link_to(root_path, class: "text-reset text-decoration-none") do %>
    <div class="navbar-brand">SHARE LINK</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% end %>
    <div class="collapse navbar-collapse" id="navbarCollapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto mb-2 mb-md-0">
    <% if user_signed_in? %>
        <li class="nav-item active">
          <div class="nav-link" aria-current="page" ><%= link_to "#{current_user.nickname}", "#", class: "text-reset text-decoration-none" %></div>
        </li>
        <li class="nav-item">
          <div class="nav-link"><%= link_to 'ログアウト', destroy_user_session_path , method: :delete, class: "text-reset text-decoration-none" %></div>
        </li>
        <% else %>
        <li class="nav-item active">
          <div class="nav-link" aria-current="page" ><%= link_to "新規登録", new_user_registration_path , class: "text-reset text-decoration-none" %></div>
        </li>
        <li class="nav-item active">
          <div class="nav-link" aria-current="page" ><%= link_to 'ゲストログイン（閲覧用）', tweets_guest_sign_in_path, method: :post, class: "text-reset text-decoration-none" %></div>
        </li>
        <li class="nav-item">
          <div class="nav-link"><%= link_to 'ログイン', new_user_session_path, class: "text-reset text-decoration-none" %></div>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</nav>
</header>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

